<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>6-2-1</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="../Content/xxw_common.css"/>
    <link rel="stylesheet" href="../Content/xxw_6-2-1.css"/>
    <link rel="stylesheet" href="../font/xxw_font-awesome.min.css"/>
</head>
<body>
<div class="xxw_content">
    <div class="xxw_title">
        <h2>第一节 初三数物化基础难点突破</h2>
        <p>2017/05/08</p>
        <span>编辑</span>
    </div>
    <ul class="xxw_lessonMsg">
        <li class="xxw_live">
            <a href="">
                <p class="xxw_type" style="background-color: #95c6ec;">直播</p>
                <div class="xxw_detail">
                    <p class="xxw_time">20170329 24:00</p>
                    <p class="xxw_person"><img src="../Images/6-1/xxw_teacherPhoto.png" alt=""/>直播讲师：张老师</p>
                    <p class="xxw_des">专注于中考高考政策研究…</p>
                    <div class="xxw_play">
                        <img src="../Images/6-1/xxw_play.png" alt=""/>
                        <p>老师请由PC客户端进入直播</p>
                    </div>
                </div>

            </a>
        </li>
        <li class="xxw_data">
            <a href="">
                <p class="xxw_type" style="background-color: #94dfb0;">资料</p>
                <div class="xxw_detail">
                    <p class="xxw_name"><img src="../Images/6-2/xxw_ppt.png" alt=""/>比多比少问题讲义</p>
                    <p class="xxw_time">2017/04/21  11:12  1.2M</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
        <li class="xxw_data">
            <a href="">
                <p class="xxw_type" style=""></p>
                <div class="xxw_detail">
                    <p class="xxw_name"><img src="../Images/6-2/xxw_ppt.png" alt=""/>比多比少问题讲义</p>
                    <p class="xxw_time">2017/04/21  11:12  1.2M</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
        <li class="xxw_data">
            <a href="">
                <p class="xxw_type" style="background-color: #fed961;">作业</p>
                <div class="xxw_detail">
                    <p class="xxw_name"><img src="../Images/6-2/xxw_img.png" alt=""/><img src="../Images/6-2/xxw_voice.png" alt=""/>比多比少问题作业</p>
                    <p class="xxw_time">2017/04/21  11:12</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
        <li class="xxw_data">
            <a href="">
                <p class="xxw_type" style=""></p>
                <div class="xxw_detail">
                    <p class="xxw_name"><img src="../Images/6-2/xxw_answer.png" alt=""/>答题卡</p>
                    <p class="xxw_time">共3题</p>
                    <p class="xxw_personNum">12/23人提交</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
        <li class="xxw_data">
            <a href="">
                <p class="xxw_type" style="background-color: #ffbe92;line-height: 0.889rem;">课堂反馈</p>
                <div class="xxw_detail" style="height: 2.584rem;border: none;">
                    <p class="xxw_personNum">12/23人已反馈</p>
                    <i class="fa fa-angle-right"></i>
                </div>
            </a>
        </li>
    </ul>
</div>
<ul class="xxw_btns">
    <li>
        <a href="">
            <img src="../Images/6-2/xxw_edit.png" alt=""/>
            <p>批改作业</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="../Images/6-2/xxw_view.png" alt=""/>
            <p>作业概览</p>
        </a>
    </li>
    <li>
        <a href="">
            <img src="../Images/6-2/xxw_review.png" alt=""/>
            <p>课堂反馈</p>
        </a>
    </li>
</ul>
</body>
</html>