<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>7-1-2</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="../Content/xxw_common.css"/>
    <link rel="stylesheet" href="../Content/xxw_7-1-2.css"/>
    <link rel="stylesheet" href="../font/xxw_font-awesome.min.css"/></head>
<body>
<article>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <ul class="xxw_voice">
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
    </ul>
    <div class="xxw_slider">
        <div class="xxw_btn">
            <img class="xxw_circle" src="../Images/7-1/xxw_circle.png" alt=""/>
            <img class="xxw_towards" src="../Images/7-1/xxw_top.png" alt=""/>
            <img class="xxw_towards" src="../Images/7-1/xxw_down.png" alt="" style="display: none;"/>
        </div>
        <p class="xxw_tips">请向<span>上</span><span style="display: none;">下</span>拨动此处进行答题</p>
        <p>按照老师指定的出题顺序依次作答</p>
    </div>
</article>
<div class="xxw_question">
    <ul>
        <li class="radio">
            <h4>1、</h4>
            <p class="active">A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
            <p>E</p>
            <span>单选</span>
        </li>
        <li><h4>2、</h4><input type="text" placeholder="请输入内容"/></li>
        <li><h4>3、</h4><input type="text" placeholder="添加解答" readonly="readonly"/><i class="fa fa-angle-right"></i></li>
        <li class="TorF">
            <h4>4、</h4>
            <p class="active">正确</p>
            <p>错误</p>
        </li>
        <li class="checkBox">
            <h4>5、</h4>
            <p class="active">A</p>
            <p>B</p>
            <p>C</p>
            <p>D</p>
            <p>E</p>
            <span>多选</span>
        </li>
    </ul>
</div>
<a class="edit">
    交卷并查看结果
    <p>谨慎作答，提交后不能更改哦~</p>
</a>
<div class="xxw_mask"></div>
<div class="xxw_confirm">
    <div class="xxw_mes">
        <h3>是否确认提交？</h3>
        <p>作业提交后无法修改</p>
    </div>
    <button class="xxw_cancel">取消</button>
    <button class="xxw_submit">确认</button>
</div>
<script type="text/javascript" src="../Scripts/jquery.1.9.1.js"></script>
<script type="text/javascript">
    $(function () {
        /*根据屏幕的高度设置article的高度*/
        var totalHeight = $("body").height()-$(".edit").height()-parseInt($("article").css("paddingTop").replace("px","")*2+1);
        $("article").css("height",totalHeight);
        /*拖动指定块*/
        function xxw_slider() {
            var y1;
            var flag = 0;/*用于判断滑动的距离, 大于50为1,小于等于为0*/
            var status = 0;/*用于判断滑块的位置，0为底部，1为中间*/
            /*手指按下*/
            $(".xxw_slider").on('touchstart',function(e){
                e.preventDefault();
                var $touch = e.originalEvent.targetTouches[0];
                y1= $touch.pageY;
            });
            /*按下并移动*/
            $(".xxw_slider").on('touchmove',function(e){
                e.preventDefault();
                var $touch = e.originalEvent.targetTouches[0];
                var y2 = $touch.pageY;
                var distance = y1-y2;
                var bottom;
                if(status == 0){
                    /*向上滑动*/
                    if(y2<y1){
                        if(distance<=20){
                            flag = 0;
                            bottom = 2.444*parseInt($("body").css("fontSize").replace("px",""))+distance;
                            $(this).css("bottom",bottom+"px");
                            $("article").css("height",totalHeight-distance);
                            $(".xxw_question").css("height",distance);
                        }else if(distance>5){
                            flag = 1;
                        }
                    }
                }else if(status == 1){
                    /*向下滑动*/
                    if(y2>y1){
                        if(distance>=-5){
                            flag = 0;
                            bottom = 16.91*parseInt($("body").css("fontSize").replace("px",""))+distance;
                            $(this).css("bottom",bottom+"px");
                            $("article").css("height",totalHeight-14.472*parseInt($("body").css("fontSize").replace("px",""))-distance);
                            $(".xxw_question").css("height",14.472*parseInt($("body").css("fontSize").replace("px",""))+distance);
                        }else if(distance<-5){
                            flag = 1;
                        }
                    }
                }
            });
            /*滑块运动到0状态*/
            function status0($this,time) {
                $this.animate({
                    "bottom":"2.444rem"
                },time);
                $("article").animate({
                    "height":totalHeight
                },time);
                $(".xxw_question").animate({
                    "height":"0px"
                },time);
                $(".xxw_towards").toggle();
                $(".xxw_tips span").toggle();
            }
            /*滑块运动到1状态*/
            function status1($this,time) {
                $this.animate({
                    "bottom":"16.916rem"
                },time);
                $("article").animate({
                    "height":totalHeight-14.472*parseInt($("body").css("fontSize").replace("px",""))+"px"
                },time);
                $(".xxw_question").animate({
                    "height":14.472*parseInt($("body").css("fontSize").replace("px",""))+"px"
                },time);
                $(".xxw_towards").toggle();
                $(".xxw_tips span").toggle();
            }
            $(".xxw_slider").on('touchend',function(e){
                e.preventDefault();
                if(status == 0){
                    if(flag==0){
                        status0($(this),200);
                    }else if(flag==1){
                        status1($(this),500)
                        flag = 0;status = 1;
                    }
                }else if(status == 1){
                    if(flag==0){
                        status1($(this),200);
                    }else if(flag==1){
                        status0($(this),500);
                        flag = 0;status = 0;
                    }
                }
            })
        }
        xxw_slider();
        $(document).on("click",".xxw_voice li",function () {
            $(this).children(".play").toggle();
            $(this).siblings("li").children(".play:nth-child(1)").css("display","block");
            $(this).siblings("li").children(".play:nth-child(2)").css("display","none");
        })
    })
</script>
<script type="text/javascript">
    $(function () {
        $(".xxw_question li p").click(function () {
            if($(this).parent().hasClass("checkBox")){
                $(this).toggleClass("active");
            }else{
                $(this).toggleClass("active").siblings("p").removeClass("active");
            }
        });
        $(".edit").click(function () {
            $(".xxw_mask").css("display","block");
            $(".xxw_confirm").css("display","block");
        });
        $(".xxw_confirm button").click(function () {
            $(".xxw_mask").css("display","none");
            $(".xxw_confirm").css("display","none");
        });
    })
</script>
</body>
</html>