<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>7-1-1</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="../Content/xxw_common.css"/>
    <link rel="stylesheet" href="../Content/xxw_7-1-1.css"/>
    <link rel="stylesheet" href="../font/xxw_font-awesome.min.css"/>
</head>
<body>
    <article>
        <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
        <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
        <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
        <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
        <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
        <ul class="xxw_voice">
            <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
            <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
            <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
            <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
            <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
            <!--<li><img src="../Images/6-6/xxw_listen.png" alt=""/></li>
            <li><img src="../Images/6-6/xxw_listen.png" alt=""/></li>
            <li><img src="../Images/6-6/xxw_listen.png" alt=""/></li>
            <li><img src="../Images/6-6/xxw_listen.png" alt=""/></li>
            <li><img src="../Images/6-6/xxw_listen.png" alt=""/></li>-->
        </ul>
    </article>
    <a href="" class="edit">编辑</a>
    <script type="text/javascript" src="../Scripts/jquery.1.9.1.js"></script>
    <script type="text/javascript">
        $(document).on("click",".xxw_voice li",function () {
            $(this).children(".play").toggle();
            $(this).siblings("li").children(".play:nth-child(1)").css("display","block");
            $(this).siblings("li").children(".play:nth-child(2)").css("display","none");
        })
    </script>
</body>
</html>