<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>6-6</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="../Content/xxw_common.css"/>
    <link rel="stylesheet" href="../Content/xxw_6-6.css"/>
    <link rel="stylesheet" href="../font/xxw_font-awesome.min.css"/>
</head>
<body>
<form action="">
    <textarea maxlength="200" rows="10" placeholder="请输入200字以内题干或说明内容，也可直接拍照或上传 语音..."></textarea>
    <div class="xxw_upload">
        <input type="file" id="xxw_input" onchange="javascript:xxw_setImagePreviews();"/>
        <div class="xxw_uploadBtn"><img src="../Images/6-6/xxw_add.png" alt=""><p>上传图片</p></div>
    </div>
    <div class="xxw_voice">
        <ul>

        </ul>
        <p>按住说话</p>
    </div>
    <div class="xxw_speak">
        <img src="../Images/6-6/xxw_speak.png" alt=""/>
        <p>手指上滑，取消发送</p>
    </div>
    <div class="xxw_countdown">
        <h3>10<span>S</span></h3>
        <p>本段录音即将结束</p>
    </div>
    <button>确定并返回</button>
</form>
<script type="text/javascript" src="../Scripts/jquery.1.9.1.js"></script>
<script src="../Scripts/xxw_upload.js"></script>
<!--JS控制元素宽度-->
<script type="text/javascript">
    function textarea() {
        $("textarea").css("width",$(window).width()-parseInt($("textarea").css("paddingLeft").replace("px",""))*2+"px");
        var rows = Math.ceil(200/(parseInt($("textarea").css("width").replace("px",""))/14));
        $("textarea").attr("rows",rows);
    }
    function upload() {
        $(".xxw_uploadBtn").css("height",$(".xxw_uploadBtn").css("width"));
        $(".xxw_uploadImg").css("height",$(".xxw_uploadBtn").css("width"));
    }
    function uploadImg(){
        $(".xxw_uploadBtn").click(function () {
            return  $(".xxw_upload input").click();
        });
    }
    $(function(){
        textarea();
        upload();
        uploadImg();
    });
    $(window).resize(function(){
        textarea();
        upload();
    });
</script>
<script src="../Scripts/xxw_voice.js"></script>
</body>
</html>