<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=1.0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>9-2</title>
    <meta name="Keywords" content=""/>
    <meta name="Description" content=""/>
    <link rel="stylesheet" href="../Content/xxw_common.css"/>
    <link rel="stylesheet" href="../Content/xxw_9-2.css"/>
    <link rel="stylesheet" href="../font/xxw_font-awesome.min.css"/>
</head>
</head>
<body>
<a href="" class="xxw_viewQues">查看原题<i class="fa fa-angle-right"></i></a>
<article xxw_type="4" style="margin-top: 0.555rem;  ">
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <p>昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、昂立是上海昂立教育培训有限公司旗下专业为沪上3-18岁青少年提供英语语言培训服务的品牌。旗下教育产品涵盖幼儿园、少儿、中学生、</p>
    <img src="../Images/7-1/xxw_hwImg.png" alt=""/>
    <ul class="xxw_voice">
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
        <li><img class="play" src="../Images/7-1/xxw_listen.png" alt=""/><img class="play" src="../Images/7-1/xxw_listen.gif" style="display:none;" alt=""></li>
    </ul>
</article>
<article xxw_type="1">
    <h3>学生回答</h3>
    <div class="xxw_stuAnswer">
        <ul>
            <li>A</li>
            <li class="active">B</li>
            <li>C</li>
            <li>D</li>
        </ul>
        <p class="xxw_false"><img src="../Images/9-2/xxw_false.png" alt=""/>错误</p>
        <p class="xxw_tAf"><img src="../Images/9-2/xxw_tAf.png" alt=""/>半对</p>
        <p class="xxw_true"><img src="../Images/9-2/xxw_true.png" alt=""/>正确</p>
    </div>
    <h3>正确答案</h3>
    <div class="xxw_trueAnswer">
        <ul>
            <li class="active">A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
        </ul>
    </div>
</article>
<article xxw_type="2">
    <h3>学生回答</h3>
    <div class="xxw_stuAnswer">
        <ul>
            <li class="active">正确</li>
            <li>错误</li>
        </ul>
        <p><img src="../Images/9-2/xxw_false.png" alt=""/>错误</p>
        <p><img src="../Images/9-2/xxw_tAf.png" alt=""/>半对</p>
        <p><img src="../Images/9-2/xxw_true.png" alt=""/>正确</p>
    </div>
    <h3>正确答案</h3>
    <div class="xxw_trueAnswer">
        <ul>
            <li class="active">正确</li>
            <li>错误</li>
        </ul>
    </div>
</article>
<article xxw_type="3">
    <h3>学生回答</h3>
    <div class="xxw_stuAnswer">
        <span>Label</span>
        <p><img src="../Images/9-2/xxw_false.png" alt=""/>错误</p>
        <p><img src="../Images/9-2/xxw_tAf.png" alt=""/>半对</p>
        <p><img src="../Images/9-2/xxw_true.png" alt=""/>正确</p>
    </div>
    <h3>正确答案</h3>
    <div class="xxw_trueAnswer">
        <span>Label</span>
    </div>
</article>
<div class="xxw_fixed">
    <div class="xxw_quesNum">
        <ul>
            <li>
                <h4>主观题</h4>
                <p xxw_quesNum="1" class="active" xxw_type="4">1</p>
                <p xxw_quesNum="2" xxw_type="4">2</p>
                <p xxw_quesNum="3" xxw_type="4">3</p>
                <p xxw_quesNum="5" xxw_type="4">5</p>
            </li>
            <li>
                <h4>客观题</h4>
                <p xxw_quesNum="4" xxw_type="1" xxw_result="0">4</p>
                <p xxw_quesNum="6" xxw_type="2" xxw_result="1">6</p>
                <p xxw_quesNum="7" xxw_type="3" xxw_result="2">7</p>
                <p xxw_quesNum="8" xxw_type="1" xxw_result="1">8</p>
            </li>
        </ul>
    </div>
    <div class="xxw_goQues">
        <div class="xxw_prev active" xxw_quesNum="0">
            到头啦
        </div>
        <div class="xxw_result">
            <ul>
                <li class="active">错误</li>
                <li>半对</li>
                <li>正确</li>
            </ul>
        </div>
        <div class="xxw_next"xxw_quesNum="2">
            第2题<i class="fa fa-angle-right"></i>
        </div>
    </div>
    <a class="xxw_submit">批注</a>
</div>
<div class="xxw_mask"></div>
<div class="xxw_confirm">
    <div class="xxw_mes">
        <h3>还有题目未批改完哦~</h3>
        <p>请先将主观题批改完，再对学生进行批注，以免遗漏</p>
    </div>
    <button class="xxw_cancel">取消</button>
    <button class="xxw_submit">确认</button>
</div>
<script type="text/javascript" src="../Scripts/jquery.1.9.1.js"></script>
<script type="text/javascript">
    /*声音播放*/
    $(document).on("click",".xxw_voice li",function () {
        $(this).children(".play").toggle();
        $(this).siblings("li").children(".play:nth-child(1)").css("display","block");
        $(this).siblings("li").children(".play:nth-child(2)").css("display","none");
    });
    function flag() {
        var flag = 0;
        function active() {
            $(".xxw_quesNum p").each(function () {
                if($(this).hasClass("active")){
                    if($(this).attr("xxw_type")=="4"){
                        flag = 4;
                    }else{
                        flag = 0;
                    }
                }
            });
        }
        $(".xxw_result li").click(function () {
            active()
            if(flag==4){
                $(this).toggleClass("active").siblings("li").removeClass("active");
            }
        });
    }
    flag();
    function check($this) {
        var xxw_type = $this.attr("xxw_type");
        var xxw_result = $this.attr("xxw_result");
        var xxw_quesNum = parseInt($this.attr("xxw_quesNum"));
        /*改变题号样式*/
        $(".xxw_quesNum p").removeClass("active");
        $this.toggleClass("active");
        /*根据题号改变问题的显示，并根据主客观题显示答案的正确性和选择正确性*/
        $("article[xxw_type="+xxw_type+"]").css("display","block").siblings("article").css("display","none");
        if(xxw_type==4){
            $(".xxw_result li").css({
                "display":"block",
                "marginLeft":"0"
            });
            $(".xxw_result li").eq(0).css({
                "marginLeft":"0.7rem"
            });
        }else{
            $("article[xxw_type="+xxw_type+"] p").eq(xxw_result).css("display","block").siblings("p").css("display","none");
            $(".xxw_result li").eq(xxw_result).addClass("active").css({
                "display":"block",
                "marginLeft":"3.867rem"
            }).siblings("li").css({
                "display":"none",
            }).removeClass("active");
        }
        /*改变上下按钮的题号*/
        if(xxw_quesNum>1&&xxw_quesNum<$(".xxw_quesNum p").length){
            $(".xxw_prev").attr("xxw_quesNum",xxw_quesNum-1).html("<i class='fa fa-angle-left'></i>第"+(xxw_quesNum-1)+"题").removeClass("active");
            $(".xxw_next").attr("xxw_quesNum",xxw_quesNum+1).html("第"+(xxw_quesNum+1)+"题<i class='fa fa-angle-right'></i>").removeClass("active");
            //alert(1)
        }else if(xxw_quesNum==1){
            $(".xxw_prev").attr("xxw_quesNum",0).html("到头啦").addClass("active");
            $(".xxw_next").attr("xxw_quesNum",xxw_quesNum+1).html("第"+(xxw_quesNum+1)+"题<i class='fa fa-angle-right'></i>").removeClass("active");
            //alert(2)
        }else if(xxw_quesNum==$(".xxw_quesNum p").length){
            $(".xxw_prev").attr("xxw_quesNum",xxw_quesNum-1).html("<i class='fa fa-angle-left'></i>第"+(xxw_quesNum-1)+"题").removeClass("active");
            $(".xxw_next").attr("xxw_quesNum",0).html("到尾啦").addClass("active");
            //alert(3)
        }
    }
    $(".xxw_quesNum p").click(function () {
        check($(this));
    });
    $(".xxw_prev").click(function () {
        var xxw_quesNum = parseInt($(this).attr("xxw_quesNum"));
        if(xxw_quesNum!=0){
            $(".xxw_quesNum p").each(function () {
                if($(this).attr("xxw_quesNum")==(xxw_quesNum)){
                    check($(this));
                }
            })
        }
    });
    $(".xxw_next").click(function () {
        var xxw_quesNum = parseInt($(this).attr("xxw_quesNum"));
        if(xxw_quesNum!=0){
            $(".xxw_quesNum p").each(function () {
                if($(this).attr("xxw_quesNum")==(xxw_quesNum)){
                    check($(this));
                }
            })
        }
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".xxw_fixed .xxw_submit").click(function () {
            $(".xxw_mask").css("display","block");
            $(".xxw_confirm").css("display","block");
        });
        $(".xxw_confirm button").click(function () {
            $(".xxw_mask").css("display","none");
            $(".xxw_confirm").css("display","none");
        });
    })
</script>
</body>
</html>