*{margin: 0;padding: 0;border:none;font-family:Helvetica,"Microsoft YaHei";}
ul,ol,li{list-style:none;}
a{text-decoration:none;color: #333;}
html{width: 100%;}
body {background-color:#EEEEEE;}
html,body{font-size: 16px;}