form{padding: 0.555rem 0 0;font-size: 0;}
form textarea{background-color: #fff;font-size: 14px;padding: 0.305rem 0.667rem;line-height: 1.444rem;}
.xxw_upload{background-color: #fff;padding: 0.694rem 0.667rem;overflow: hidden;margin-bottom: 0.555rem;}
.xxw_upload input{display: none;}
.xxw_uploadBtn{width: 17%;background-color: #dfdfdf;margin-right: 3.75%;float: left;text-align: center;font-size: 14px;line-height: 14px;}
.xxw_uploadBtn img{height:0.777rem;margin: 0.75rem 0 0.45rem;}
.xxw_uploadBtn p{color: #828282;}
.xxw_uploadImg{width: 17%;background-color: #fff;margin-right: 3.75%;float: left;position: relative;}
.xxw_uploadImg:last-child{margin-right: 0;}
.xxw_uploadImg>img{width: 98%;height:98%;border: 1px solid #eee;}
.xxw_uploadImg i{position: absolute;top:-7px;right:-7px;z-index: 9;display: block;width: 14px;height:14px;background-color: #dfdfdf;color: #fff;line-height: 14px;text-align: center;border-radius: 3px;}
.xxw_uploadImg i img{width: 60%;vertical-align: middle;}
.xxw_voice{padding: 0.667rem;background-color: #fff;}
.xxw_voice ul{height:1.389rem;display: none;margin-bottom: 0.667rem;}
.xxw_voice li{width: 17%;height:1.389rem;background-color: #ff6000;margin-right: 3.75%;float: left;border-radius: 4px;position: relative;}
.xxw_voice li:last-child{margin-right: 0;}
.xxw_voice li>img{height: 72%;margin-top:6%;margin-left: 0.5rem;}
.xxw_voice li i{position: absolute;top:-7px;right:-7px;z-index: 9;display: block;width: 14px;height:14px;background-color: #dfdfdf;color: #fff;line-height: 14px;text-align: center;border-radius: 3px;}
.xxw_voice li i img{width: 60%;vertical-align: middle;}
.xxw_voice p{height: 2.389rem;font-size: 18px;text-align:center;line-height: 2.389rem;border: 1px solid #ff6000;border-radius: 4px;color: #ff6000;}
.xxw_speak{position: absolute;top:50%;left:50%;width: 8.34rem;height: 8.34rem;margin-top: -4.17rem;margin-left: -4.17rem;background-color: rgba(0,0,0,0.6);text-align: center;z-index: 99;border-radius: 4px;display: none;}
.xxw_speak img{width: 30%;margin: 1.583rem 0;}
.xxw_speak p{height:14px;font-size: 14px;line-height: 14px;color: #fff;}
.xxw_countdown{position: absolute;top:50%;left:50%;width: 8.34rem;height: 8.34rem;margin-top: -4.17rem;margin-left: -4.17rem;background-color: rgba(0,0,0,0.6);text-align: center;z-index: 99;border-radius: 4px;display: none;}
.xxw_countdown h3{height:100px;font-size: 100px;color: #fff;font-weight: normal;line-height: 100px;margin: 10px 0;}
.xxw_countdown h3 span{font-size: 36px;color: #fff;}
.xxw_countdown p{height:14px;font-size: 14px;line-height: 14px;color: #fff;}
a.edit{display: block;position:fixed;bottom:0;left:0;width: 100%;height: 2.444rem;background-color: #ff6000;color: #fff;font-size: 1rem;text-align: center;line-height: 2.444rem;}