*{margin: 0;padding: 0;border:none;font-family:Helvetica,"Microsoft YaHei";color: #333;}
ul,ol,li{list-style:none;}
a{text-decoration:none;color: #333;}
html{width: 100%;}
body {background-color:#EEEEEE;}
@media screen and (min-width: 320px) and (max-width: 359px){
    html,body{font-size: 16px;}
}
@media screen and (min-width: 360px){
    html,body{font-size: 18px;}
}
