.xxw_message{width:100%;height: 67px;background-color: #fff;}
.xxw_message li{width:50%;padding-top:16px;float: left;position: relative;}
.xxw_message li img{width:32px;height:32px;float: left;margin:0 12px;}
.xxw_message li h3{font-size: 14px;}
.xxw_message li h3 span{font-size: 9px;}
.xxw_message li p{font-size: 12px;}
.xxw_message .xxw_border{width: 1px;height:100%;background-color: #eee;position: absolute;top:0;left:0;}